# Node.js
node_modules/
npm-debug.log*
yarn-error.log*
pnpm-debug.log*
.lock-wscript
.DS_Store

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.npm/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log

# Environnement local
.env
.env.local
.env.*.local

# Output files (Vue)
dist/
public/

# Vue CLI specific files
.vuepress/dist
.vuepress/.temp

# Build files (Webpack / Parcel / Vite)
build/
output/
.cache/
.vite/
*.html

# IDEs and editors
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS Files
Thumbs.db
.DS_Store
Desktop.ini

# Visual Studio Code
.vscode/
.history/
*.code-workspace
