/* app.css */
/* Style général de l'application */

#app {
  font-family: 'Arial', sans-serif;
  color: #333;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#app > * {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}
